<div class="degrade-horizontal flex justify-center items-center min-h-screen p-6">
  <div class="bg-white shadow-2xl rounded-2xl p-8 max-w-xl w-full">
    <% if @questions.present? %>
      <%= form_tag jeu_submit_path, method: :post, local: true, data: { turbo: false } do |form| %>
        <h2 class="text-2xl font-bold text-center mb-4 text-gray-800"><%= @current_question[:question] %></h2>
        <hr class="mb-4 border-gray-300">

        <div class="space-y-4">
          <% @current_question[:options].each_with_index do |option, index| %>
            <label class="flex items-center space-x-3 bg-gray-100 p-3 rounded-lg cursor-pointer hover:bg-gray-200 transition">
              <%= radio_button_tag "question[answer_id]", option[1], false, id: "option_#{index}", class: "hidden peer" %>
              <div class="w-5 h-5 border-2 border-gray-400 peer-checked:border-indigo-600 peer-checked:bg-indigo-600 rounded-full flex items-center justify-center">
                <div class="w-2.5 h-2.5 bg-white rounded-full peer-checked:block hidden"></div>
              </div>
              <span class="text-gray-700"><%= option[0] %></span>
            </label>
          <% end %>
        </div>

        <div class="mt-6">
          <%= submit_tag "VALIDER", class: "bg-surfgreen hover:bg-indigo-700 text-black font-bold py-3 px-6 rounded-lg w-full transition" %>
        </div>
      <% end %>
    <% end %>

    <div class="flex justify-between mt-4">
      <%= link_to "Page Home", root_path, class: "text-indigo-600 hover:underline" %>
      <%= link_to "Question suivante", jeu_index_path, class: "text-indigo-600 hover:underline" %>
    </div>
  </div>
</div>
